<div class="row">
  <div class="col-md-8">
    <h3>{{note.id ? 'Edit Note' : 'New Note'}}</h3>
    <br/>
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-addon">Title</span>
          <input [(ngModel)]="note.title" type="text" class="form-control" placeholder="Title">
        </div>
        <br/>
        <textarea [(ngModel)]="note.content" class="form-control" id="noteContentTextArea" rows="3" placeholder="Content"></textarea>
        <br/>
        <button (click)="createOrSaveNote()" class="btn btn-primary" data-dismiss="modal">{{note.id ? 'Save' : 'Create'}}</button>
      </div>
    </div>
  </div>
</div>